HANZHUB_IOT_PORT=4011
HANZHUB_IOT_URL=http://192.168.1.3:4011
HANZHUB_DASHBOARD_API=http://127.0.0.1:4010
HANZHUB_DASHBOARD_URL=http://192.168.1.3:4001
TINYTUYA_DEVICES_FILE=/opt/infrapanel/devices.json
